.active {
  font-weight: 300;
  cursor: pointer;
}

.celsius,
.fahrenheit {
  display: inline;
  font-weight: 600;
}

.temperature-scales,
.celsius-link,
.fahrenheit-link {
  color: rgb(58, 129, 184);
  text-decoration: none;
}

.current-temp {
  display: inline;
}

.humidity,
.wind {
  font-weight: 300;
  font-size: 14px;
}
