li {
  list-style-type: none;
}

.forecast-day {
  font-size: 32px;
  margin-top: 10px;
}

.form-control {
  display: inline;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  width: 300px;
  padding: 5px 15px;
  margin-right: 10px;
}

.search-button {
  background-color: rgb(58, 129, 184);
  border: 1px solid rgb(37, 88, 126);
  border-radius: 8px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  color: #ffff;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  transition: 150ms ease-in-out;
}

.search-button:hover {
  background-color: rgb(37, 88, 126);
  cursor: pointer;
}

.search-button:disabled {
  background-color: rgb(91, 106, 117);
  cursor: none;
}
