.Weather li {
  list-style-type: none;
}

.Weather .current-icon {
  max-width: 90px;
  padding-right: 10px;
}

.Weather .current-stats {
  margin: 40px auto 0px;
}

.Weather .current-stats,
.icon {
  padding: 0px;
}

.Weather .current-stats,
.location {
  text-align: right;
}

.Weather .current-stats,
.current-weather {
  padding-left: 30px;
  text-align: left;
}

.Weather .current-temp {
  display: inline;
}

.Weather .forecast-day {
  font-size: 32px;
  margin-top: 10px;
}

.Weather .form-control {
  display: inline;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  width: 300px;
  padding: 5px 15px;
  margin-right: 10px;
}

.Weather .search-button {
  background-color: rgb(58, 129, 184);
  border: 1px solid rgb(37, 88, 126);
  border-radius: 8px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  color: #ffff;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  transition: 150ms ease-in-out;
}

.Weather .search-button:hover {
  background-color: rgb(37, 88, 126);
  cursor: pointer;
}

.Weather .search-button:disabled {
  background-color: rgb(91, 106, 117);
  cursor: none;
}

.Weather .temperature-scales,
.celsius,
.temperature-scales,
.fahrenheit {
  display: inline;
  font-weight: 300;
}

.Weather .temperature-scales,
.celsius-link,
.temperature-scales,
.fahrenheit-link {
  color: rgb(58, 129, 184);
  text-decoration: none;
  cursor: pointer;
}

.Weather .active {
  font-weight: 600;
}
